<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Campaign list</title>
    <link
      type="text/css"
      rel="stylesheet"
      href="/css/bootstrap.min.css"
      th:href="@{/css/bootstrap.min.css}"
    />
    <link rel="stylesheet" href="/css/custom.css" />
  </head>
  <body>
    <div class="container">
      <!-- Title and new campaign button on the left-->
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <div style="display: flex; align-items: center">
          <h1>Campaigns</h1>
          <form
            style="margin-left: 40px"
            th:action="@{/createcampaign}"
            method="GET"
          >
            <input type="submit" value="New Campaign" class="btn btn-primary" />
          </form>
        </div>
        <!-- Signout and username on the right-->
        <div style="text-align: right">
          <form style="display: inline" th:action="@{/logout}" method="POST">
            <input
              type="submit"
              value="Sign out"
              class="btn btn-sm btn-danger"
            />
          </form>
          <h3 style="margin: 0">
            <span sec:authentication="name"></span>
          </h3>
        </div>
      </div>
      <table sec:authorize="hasAuthority('ADMIN')" class="table table-striped">
        <!--- Admin view --->
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
        <tr th:each="campaign : ${allcampaigns}">
          <td th:text="${campaign.name}"></td>
          <td th:text="${campaign.description}"></td>
          <td>
            <a th:href="@{/campaign/{id}/edit(id=${campaign.id})}">Edit</a>
          </td>
          <td>
            <a
              th:href="@{/campaign/{id}/delete(id=${campaign.id})}"
              class="btn btn-danger"
              >Delete</a
            >
          </td>
        </tr>
      </table>
      <table th:if="${campaignusers}" class="table table-striped">
        <!--- User view --->
        <tr>
          <th></th>
          <th>Name</th>
          <th>Description</th>
          <th>Your role</th>
        </tr>
        <tr th:each="campaignUser : ${campaignusers}">
          <td>
            <a
              th:href="@{/campaign/{id}/dashboard(id=${campaignUser.campaign.id})}"
              >View</a
            >
          </td>
          <td th:text="${campaignUser.campaign.name}"></td>
          <td th:text="${campaignUser.campaign.description}"></td>
          <td th:text="${campaignUser.campaignRole}"></td>
          <td th:if="${campaignUser.campaignRole == 'GM'}">
            <a
              th:href="@{/campaign/{id}/manage(id=${campaignUser.campaign.id})}"
              class="btn btn-primary"
              >Manage</a
            >
          </td>
          <td th:if="${campaignUser.campaignRole == 'GM'}">
            <a th:href="@{/campaign/{id}/edit(id=${campaignUser.campaign.id})}"
              >Edit</a
            >
          </td>
          <td th:if="${campaignUser.campaignRole == 'GM'}">
            <a
              th:href="@{/campaign/{id}/delete(id=${campaignUser.campaign.id})}"
              class="btn btn-danger"
              >Delete</a
            >
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
