<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Campaign list</title>
    <link
      type="text/css"
      rel="stylesheet"
      href="css/bootstrap.min.css"
      th:href="@{css/bootstrap.min.css}"
    />
  </head>
  <body>
    <div class="container">
      <div>
        <h1 style="text-align: left; float: left">Campaigns</h1>
        <form style="text-align: right" th:action="@{/logout}" method="POST">
          <input type="submit" value="Sign out" class="btn btn-sm btn-danger" />
        </form>
        <h3 style="text-align: right; float: right">
          <span sec:authentication="name"></span>
        </h3>
      </div>
      <!--- Admin view --->
      <table sec:authorize="hasAuthority('ADMIN')" class="table table-striped">
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
        <tr th:each="campaign : ${allCampaigns}">
          <td th:text="${campaign.name}"></td>
          <td th:text="${campaign.description}"></td>
          <td>
            <a th:href="@{/campaign/{id}/edit(id=${campaign.id})}">Edit</a>
          </td>
          <td>
            <a
              th:href="@{/campaign/{id}/delete(id=${campaign.id})}"
              class="btn btn-danger"
              >Delete</a
            >
          </td>
        </tr>
      </table>
      <!--- User view --->
      <table th:if="${campaignUsers}" class="table table-striped">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Your role</th>
        </tr>
        <tr th:each="campaignUser : ${campaignUsers}">
          <td th:text="${campaignUser.campaign.name}"></td>
          <td th:text="${campaignUser.campaign.description}"></td>
          <td th:text="${campaignUser.campaignRole}"></td>
          <td th:if="${campaignUser.campaignRole == 'GM'}">
            <a th:href="@{/campaign/{id}/edit(id=${campaignUser.campaign.id})}"
              >Edit</a
            >
          </td>
          <td th:if="${campaignUser.campaignRole == 'GM'}">
            <a
              th:href="@{/campaign/{id}/delete(id=${campaignUser.campaign.id})}"
              class="btn btn-danger"
              >Delete</a
            >
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
