<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Campaign</title>
    <link rel="stylesheet" href="/css/custom.css" />
    <link
      type="text/css"
      rel="stylesheet"
      href="/css/bootstrap.min.css"
      th:href="@{/css/bootstrap.min.css}"
    />
  </head>
  <body>
    <!-- Insert navmenu fragment -->
    <div th:insert="header :: navmenu"></div>
    <div class="container">
      <div>
        <form
          action="#"
          th:object="${campaign}"
          th:action="@{/saveNewCampaign}"
          method="POST"
        >
          <input type="hidden" id="id" th:field="*{id}" />
          <p>Name: <input type="text" th:field="*{name}" /></p>
          <p class="text-danger" th:if="${#fields.hasErrors('name')}">
            <span th:errors="*{name}"></span>
          </p>
          <p>Description <input type="text" th:field="*{description}" /></p>
          <p><input type="submit" value="Save" /></p>
        </form>
      </div>
    </div>
  </body>
</html>
