<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Campaign Sessions Dashboard</title>
    <link rel="stylesheet" href="/css/custom.css" />
  </head>
  <body>
    <div class="container">
      <div>
        <form style="text-align: right" th:action="@{/logout}" method="POST">
          <input type="submit" value="Sign out" class="btn btn-sm btn-danger" />
        </form>
        <h3 style="text-align: right; float: right">
          <span sec:authentication="name"></span>
        </h3>
      </div>
      <!--- Show sessions in reverse order 
      source: https://stackoverflow.com/questions/46443563/thymeleaf-how-to-loop-through-a-list-in-inverse-order /--->
      <fieldset
        th:each="i : ${#numbers.sequence(campaign.sessions.size() -1, 0, -1)}"
        th:with="sesh=${campaign.sessions[i]}"
      >
        <legend th:text="${'Session ' + sesh.sessionNumber}"></legend>
        <p th:each="note : ${sesh.notes}">
          <span th:text="${note.text}"></span>
        </p>
      </fieldset>
    </div>
  </body>
</html>
