<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RPG Session Notes App</title>
    <link
      type="text/css"
      rel="stylesheet"
      href="/css/bootstrap.min.css"
      th:href="@{/css/bootstrap.min.css}"
    />
    <link rel="stylesheet" href="/css/custom.css" />
  </head>
  <body>
    <!-- Insert navmenu fragment -->
    <div th:insert="header :: navmenu"></div>
    <div class="container mt-3">
      <div class="jumbotron">
        <h1 class="display-4">RPG Session Notes App</h1>
        <p class="lead">
          The RPG Session Notes App is a web application designed for tabletop
          RPG enthusiasts to keep track of their campaign sessions. It allows
          Game Masters (GMs) and players to collaborate, share notes, and stay
          organized throughout their campaign. The app enables GMs to create
          campaigns, invite players via shareable links, and add detailed notes
          for each session. Players can also contribute notes and comments,
          while keeping their in-campaign identities separate from their global
          user profiles.
        </p>
        <h2>Key Features:</h2>
        <ul class="list-group mt4 text-start">
          <li class="list-group-item">
            <strong>Campaign Management:</strong> GMs can create campaigns,
            invite players with shareable links, and manage ongoing sessions.
          </li>
          <li class="list-group-item">
            <strong>Session Notes:</strong> Both GMs and players can add notes
            for each session, with the option for comments and discussions
            around specific notes.
          </li>
          <li class="list-group-item">
            <strong>Distinct Roles:</strong> GM and player notes are visually
            distinct, making it easy to differentiate contributions.
          </li>
          <li class="list-group-item">
            <strong>Custom Screen Names:</strong> Users can set different
            display names for each campaign, preserving immersion across
            multiple campaigns.
          </li>
          <li class="list-group-item">
            <strong>Custom Screen Names:</strong> Users can set different
            display names for each campaign, preserving immersion across
            multiple campaigns.
          </li>
          <li class="list-group-item">
            <strong>Invitation Links:</strong> GMs can invite players with
            expiration-based links that can be shared with groups for easy
            onboarding.
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
