<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join Campaign</title>
    <link rel="stylesheet" href="/css/custom.css" />
  </head>
  <body>
    <div class="container">
      <div>
        <form style="text-align: right" th:action="@{/logout}" method="POST">
          <input type="submit" value="Sign out" class="btn btn-sm btn-danger" />
        </form>
        <h3 style="text-align: right; float: right">
          <span sec:authentication="name"></span>
        </h3>
      </div>
      <h1>Join Campaign: <span th:text="${campaign.name}"></span></h1>
      <p th:text="${campaign.description}"></p>
      <div>
        <form th:action="@{/acceptCampaignInvitation}" method="POST">
          <input type="hidden" name="token" th:value="${token}" />
          <button type="submit">Join Campaign</button>
        </form>
      </div>
    </div>
  </body>
</html>
