<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Session Log</title>
    <link rel="stylesheet" href="/css/custom.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    />
    <!-- <link
      type="text/css"
      rel="stylesheet"
      href="/css/bootstrap.min.css"
      th:href="@{/css/bootstrap.min.css}"
    /> -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <!-- Insert navmenu fragment -->
    <div th:insert="header :: navmenu"></div>
    <div class="container">
      <h1><span th:text=" ${campaign.name}"></span></h1>
      <!--- Show sessions in reverse order 
      source: https://stackoverflow.com/questions/46443563/thymeleaf-how-to-loop-through-a-list-in-inverse-order /--->
      <div id="accordion">
        <div
          class="card w-100 mb-3, mt-3"
          th:each="i, iterStat : ${#numbers.sequence(campaign.sessions.size() -1, 0, -1)}"
          th:with="sesh=${campaign.sessions[i]}"
        >
          <div
            class="card-header d-flex justify-content-between align-items-center"
          >
            <a
              class="card-link"
              data-toggle="collapse"
              href="#collapseSession"
              th:href="'#collapse' + ${iterStat.index}"
            >
              <span th:text="${'Session ' + sesh.sessionNumber}"></span>
              <span
                th:text="${#temporals.format(sesh.sessionDate, 'dd/MM/yyyy')}"
              ></span>
            </a>
            <!-- Date formatting using thymeleaf -->
          </div>
          <div
            id="collapseSession"
            class="collapse"
            th:id="'collapse' + ${iterStat.index}"
            data-parent="#accordion"
          >
            <div class="card-body">
              <p th:each="note : ${sesh.notes}">
                <span th:text="${note.text}"></span>
                <br />
                <small
                  class="text-muted"
                  th:text="' -' +${note.userScreenName}"
                ></small>
              </p>
            </div>
            <!-- Input field for new note -->
            <div class="card-footer">
              <form
                action="#"
                th:object="${note}"
                th:action="@{/addNewNote}"
                method="POST"
              >
                <input type="hidden" name="session.id" th:value="${sesh.id}" />
                <input type="hidden" id="id" th:field="*{id}" />
                <p>Add note:</p>
                <textarea
                  th:field="*{text}"
                  rows="5"
                  cols="50"
                  class="form-control"
                  placeholder="Write your note here..."
                ></textarea>
                <p class="text-danger" th:if="${#fields.hasErrors('text')}">
                  <span th:errors="*{text}"></span>
                </p>
                <div class="alert alert-danger" th:if="${errorMessage}">
                  <p th:text="${errorMessage}"></p>
                </div>
                <p>
                  <input type="submit" value="Add" class="btn btn-primary" />
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
